<form [formGroup]="personaForm">
<mat-card>
  <mat-card-content>
    <h3>Editando a: <u>{{this.reciboPersona.apellido | titlecase}} {{this.reciboPersona.nombre | titlecase}} -> ID: {{reciboPersona.id}}</u></h3>
    <p>{{reciboPersona.contactoDTO.contactoId}}</p>
    <mat-tab-group>
      <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon"></mat-icon>
            Datos personales
          </ng-template>
        <mat-card class="contentCenter">
          <mat-card-content>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Apellidos</mat-label>
                  <input matInput type="text"
                    formControlName="apellido"
                    [value]="reciboPersona.apellido">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                  <input matInput type="text"
                  formControlName="nombre"
                  [value]="reciboPersona.nombre">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Dni</mat-label>
                  <input matInput type="number"
                  formControlName="dni"
                  [value]="reciboPersona.dni">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Sexo</mat-label>
                <mat-select [value]="reciboPersona.sexo" formControlName="sexo">
                  <mat-option></mat-option>
                  <mat-option *ngFor="let gen of generos" [value]="gen">{{gen}}</mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      <!--Direccion-->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon"></mat-icon>
          Direccion
        </ng-template>
        <mat-card class="contentCenter">
          <mat-card-content>
            <p>
              <input matInput [value]="reciboPersona.contactoDTO.contactoId" hidden formControlName="contactoId">
              <mat-form-field appearance="fill">
                <mat-label>Pais</mat-label>
                <mat-select formControlName="pais" [value]="reciboPersona.contactoDTO.pais">
                  <mat-option></mat-option>
                  <mat-option [value]="pais" *ngFor="let pais of paises">{{pais}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Provincia</mat-label>
                <input matInput type="text"
                formControlName="provincia"
                [value]="reciboPersona.contactoDTO.provincia">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Localidad</mat-label>
                <input matInput type="text"
                formControlName="localidad"
                [value]="reciboPersona.contactoDTO.localidad">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Departamento</mat-label>
                <input matInput type="text"
                formControlName="departamento"
                [value]="reciboPersona.contactoDTO.departamento">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Calle</mat-label>
                <input matInput type="text"
                formControlName="calle">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Numero</mat-label>
                <input matInput type="number"
                formControlName="numero">
              </mat-form-field>
            </p>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <!--Contacto-->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon"></mat-icon>
          Contacto
        </ng-template>
        <mat-card class="contentCenter">
          <mat-card-content>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Telefono principal</mat-label>
                <input matInput type="number"
                formControlName="telefono1">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Telefono respaldo</mat-label>
                <input matInput type="number"
                formControlName="telefono2">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>E-mail</mat-label>
                <input matInput type="mail"
                formControlName="mail">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <mat-select [value]="reciboPersona.estado" formControlName="estado">
                  <mat-option></mat-option>
                  <mat-option *ngFor="let est of estados" [value]="est.value">{{est.verValor}}</mat-option>
                </mat-select>
              </mat-form-field>
            </p>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
    <mat-card-actions class="contentCenter">
      <button mat-button (click)="save()">GUARDAR</button>
      <button mat-button (click)="cancel()">CANCELAR</button>
  </mat-card-actions>
  </mat-card-content>
</mat-card>
</form>
