<mat-card>
    <mat-card-content>
        
        <mat-tab-group animationDuration="1000ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon"></mat-icon>
                    Datos personales
                </ng-template>
                <mat-card class="contentCenter">
                    <mat-card-content>
                        <p>
                        <!-- Apellido -->
                            <mat-form-field appearance="legacy">
                                <input matInput
                                [value] = "persona.apellido"
                                placeholder="Apellido"
                                readonly="true">
                            </mat-form-field>
                        <!-- Nombre -->
                            <mat-form-field appearance="legacy">
                                <input matInput
                                [value] = "persona.nombre"
                                placeholder="Nombre"
                                readonly="true">
                            </mat-form-field>
                        </p>
                        <p>
                        <!-- Dni -->
                            <mat-form-field appearance="legacy">
                                <input matInput
                                [value] =  "persona.dni"
                                placeholder="DNI"
                                readonly="true">
                            </mat-form-field>
                        <!-- Sexo -->
                            <mat-form-field appearance="legacy">
                                <input matInput
                                [value] = "persona.sexo"
                                placeholder="Sexo"
                                readonly="true">
                            </mat-form-field>
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon"></mat-icon>
                    Direccion
                </ng-template>
                <mat-card class="contentCenter">
                    <mat-card-content>
                        <p>
                        <!-- Pais -->
                            <mat-form-field appearance="legacy">
                                <input matInput
                                [value]="persona.contactoDTO.pais"
                                placeholder="Pais"
                                readonly="true">
                            </mat-form-field>
                        <!-- Provincia -->
                            <mat-form-field appearance="legacy">
                                <input matInput
                                [value]="persona.contactoDTO.provincia"
                                placeholder="Provincia"
                                readonly="true">
                            </mat-form-field>
                        </p>
                        <p>
                        <!-- Departamento -->
                            <mat-form-field appearance="legacy">
                                <input matInput
                                [value]="persona.contactoDTO.departamento"
                                placeholder="Departamento"
                                readonly="true">
                            </mat-form-field>
                        <!-- Localidad -->
                            <mat-form-field appearance="legacy">
                                <input matInput
                                [value]="persona.contactoDTO.localidad"
                                placeholder="Localidad"
                                readonly="true">
                            </mat-form-field>
                        </p>
                        <p>
                        <!-- Calle -->
                            <mat-form-field appearance="legacy">
                                <input matInput
                                [value]="persona.contactoDTO.calle"
                                placeholder="Calle"
                                readonly="true">
                            </mat-form-field>
                        <!-- Numero -->
                            <mat-form-field appearance="legacy">
                                <input matInput
                                [value]="persona.contactoDTO.numero"
                                placeholder="Numero"
                                readonly="true">
                            </mat-form-field>
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon"></mat-icon>
                    Contacto
                </ng-template>
                <mat-card class="contentCenter">
                    <mat-card-content>
                        <p>
                            <!-- Telefono -->
                        <mat-form-field appearance="legacy">
                            <input matInput
                            [value]="persona.contactoDTO.telefono1"
                            placeholder="Telefono1"
                            readonly="true">
                        </mat-form-field>
                        <!-- Telefono -->
                        <mat-form-field appearance="legacy">
                            <input matInput
                            [value]="persona.contactoDTO.telefono2"
                            placeholder="telefono2"
                            readonly="true">
                        </mat-form-field>
                    </p>
                    <p>
                        <!-- Mail -->
                        <mat-form-field appearance="legacy">
                            <input matInput
                            [value]="persona.contactoDTO.mail"
                            placeholder="Mail"
                            readonly="true">
                        </mat-form-field>
                        <!-- Estado -->
                        <mat-form-field appearance="legacy">
                            <input matInput
                            [value]="estado"
                            placeholder="Estado"
                            readonly="true">
                        </mat-form-field>
                    </p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <p>Persona ID: {{persona.id}} </p>
    <p>Contacto ID: {{persona.contactoDTO.contactoId}}</p>
        </mat-tab-group>
        <mat-card-actions class="contentCenter">
            <button mat-button [routerLink]="'personas'" (click)="cancel()">VOLVER</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>